In [1]:
import seaborn as sns
import pandas as pd
import os
import numpy as np
path = 'C:/Users/Дима/jupyter/ЦИАН/first_blood/2preparing/'

df = pd.read_csv(path+'cian_data.csv', sep = '\t')

Ищем артефакты пока что в самих данных

In [3]:
target = ['цена']

text_data = ['адрес','метро', 'тайтл', 'stations_auto',
            'stations_walk', 'описание']

#Обработать
strange_val = ['Площадь комнат','lat', 'long','href'
               'срок сдачи']

time_val = ['Построен','Год постройки', 'Срок сдачи', 'год сдачи',
           'квартал']

cont_var = ['Общая', 'Жилая', 'Кухня','metro_walk_min','metro_auto_min',
           'возраст']

var_cat = ['Тип жилья', 'Ремонт',
'Вид из окон', 'Тип дома', 'Тип перекрытий',
'Отопление', 'Парковка', 'Мусоропровод',
'Высота потолков', 'Планировка', 'Газоснабжение',
'Отделка', 'балконы',   'лоджии',
'санузлы_раздельные', 'санузлы_совместные', 'лифты_пас',
'лифты_гр', 'Тип_квартиры', 'Этажность','Этаж', 'первый_этаж', 'последний_этаж', 
'Подъезды']

1. Большие туалеты

Есть квартиры, где помимо жилого помещения и кухни есть огромные участки непонятного назначения

In [41]:
df[(df['Общая'] - df['Жилая'] + df['Кухня'] ) > 200]['href']

35       https://www.cian.ru/sale/flat/224644506/
279      https://www.cian.ru/sale/flat/198784510/
313      https://www.cian.ru/sale/flat/219718800/
639      https://www.cian.ru/sale/flat/226781990/
743      https://www.cian.ru/sale/flat/227541038/
                           ...
34044    https://www.cian.ru/sale/flat/201468804/
34368     https://www.cian.ru/sale/flat/45026735/
34598    https://www.cian.ru/sale/flat/208261782/
34729    https://www.cian.ru/sale/flat/227164030/
35105    https://www.cian.ru/sale/flat/225350336/
Name: href, Length: 136, dtype: object

In [4]:
df[(df['Общая'] - df['Жилая'] + df['Кухня'] ) > 200][['href','санузлы_раздельные', 'санузлы_совместные']]

,href,санузлы_раздельные,санузлы_совместные
35,https://www.cian.ru/sale/flat/224644506/,NaN,3
279,https://www.cian.ru/sale/flat/198784510/,1,другое
313,https://www.cian.ru/sale/flat/219718800/,другое,NaN
639,https://www.cian.ru/sale/flat/226781990/,NaN,NaN
743,https://www.cian.ru/sale/flat/227541038/,1,NaN
...,...,...,...
34044,https://www.cian.ru/sale/flat/201468804/,NaN,другое
34368,https://www.cian.ru/sale/flat/45026735/,1,2
34598,https://www.cian.ru/sale/flat/208261782/,другое,NaN
34729,https://www.cian.ru/sale/flat/227164030/,2,NaN
35105,https://www.cian.ru/sale/flat/225350336/,NaN,другое

2. С возрастом некоторых домов явно что-то не так....

In [21]:
df[df['Год постройки'] < 1600]['href']

6838     https://www.cian.ru/sale/flat/227656851/
13421     https://www.cian.ru/sale/flat/42783636/
14201    https://www.cian.ru/sale/flat/214766424/
19381    https://www.cian.ru/sale/flat/164714483/
20485    https://www.cian.ru/sale/flat/224338691/
29231    https://www.cian.ru/sale/flat/227085964/
29672    https://www.cian.ru/sale/flat/226232329/
30904    https://www.cian.ru/sale/flat/225249834/
Name: href, dtype: object